.blue-checkbox::part(checkbox) {
    background-color: blue;
    border-color: blue;
}

.gray-checkbox::part(checkbox) {
    background-color: white;
    border-color: gray;
}

.blue-checkbox[readonly]::part(checkbox),
.gray-checkbox[readonly]::part(checkbox) {
    opacity: 1;
    pointer-events: none;
}

.hourglass-spinner {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}