build/
/target/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/
!**/src/main/**/out/
!**/src/test/**/out/
node_modules/
src/main/frontend/generated/
pnpmfile.js
.DS_Store
.npmrc
webpack.generated.js
vite.generated.ts
types.d.ts
index.html
tsconfig.json
